
body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-dark-gray);
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

html {
    max-width: 100%;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: 48px;
    margin-top: 0;
    color: var(--color-dark-gray);
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

.container {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

:root {
    --color-main: #e42bdd;
    --color-white: #fff;
    --color-dark-gray: #333;
    --color-light-gray: #666666;
    --color-black: #000;
    --background-color: #f7f4f4;
}

/* header */
.header {
    background-color: #fff;
    border-bottom: 1px solid var(--background-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__burger {
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 110px;
    background: url(../img/burger.svg) left no-repeat;
    background-size: cover;
}

.header__burger-desc {
    display: flex;
    align-self: center;
    padding: 0 40px;
    font-weight: 700;
}

.header__logo {
    display: flex;
    width: 155px;
    height: 50px;
    margin: 10px;
    background: url(../img/logo.png) left no-repeat;
    background-size: cover;
}

.header__right {
    display: flex;
}

.search {
    display: flex;
    width: 25px;
    height: 25px;
    background: url(../img/magnifying-glass.svg) left no-repeat;
    background-size: auto;
}
.ava {
    display: flex;
    width: 25px;
    height: 25px;
    background: url(../img/avatar.svg) left no-repeat;
    background-size: auto;
}
.cart {
    display: flex;
    width: 25px;
    height: 25px;
    background: url(../img/shopping-cart.svg) left no-repeat;
    background-size: auto;
}
.header__right-item:not(:last-child) {
    margin-right: 30px;
}

.catalog {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.catalog__list {
    display: flex;
    flex-direction: row;
}

.catalog__items:not(:last-child) {
    margin-right: 25px;
}

.catalog__link:hover {
    color: var(--color-main);
    border-bottom: 2px solid var(--color-main);
}

.catalog__link {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    transition: color 300ms, border-bottom 30ms ease-in-out;
}

/* slider */

.slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    background-size: cover;
}

/* best */

.best {
    margin-bottom: 50px;
}

.best__content {
    display: flex;
    justify-content: space-between;
}

.best__item {
    min-width: 200px;
    flex: 1 1;
}

.best__item {
    min-width: 200px;
    flex: 1 1;
}

.btn-buy {
    padding: 10px 30px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: var(--color-main);
}

  .best__item:not(:last-child) {
    margin-right: 15px;
}

.best__desc {
    padding: 10px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    transition: color 300ms ease-in-out;
}

.best__desc:hover {
    color: var(--color-main);
}

.best__price {
    padding: 20px 0 0 0;
    font-size: 30px;
    font-weight: 600;
}

.best__price-sale {
    color: var(--color-light-gray);
    font-size: 24px;
    font-weight: 600;
    text-decoration: line-through;
}    

.sale-sticker {
    position: absolute;
    margin-top: 10px;
    font-weight: 600;
    padding: 0 5px 3px 5px;
    color: #fff;
    background: rgb(248, 82, 82);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}    

/* about */

.about {
    margin-bottom: 50px;
}

.about__container {
    display: flex;
}

.about__left {
    flex: 1 1 30%;
    margin-right: 20px;
    margin-bottom: 50px;
}

.about__desc {
    line-height: 2;
    margin-bottom: 40px;
}

.about__btn {
    padding: 10px 30px;
    font-weight: 600;
    border: 1px solid var(--color-light-gray);
    transition: background 300ms, color 300ms, border 300ms ease-in-out;
}

.about__btn:hover {
    border: 1px solid  var(--color-main);
    background: var(--color-main);
    color: #fff;
}

.about__right {
    flex: 1 1 70%;
    background: url(../img/about.png) center no-repeat;
    background-size: cover;
}

/* delivery */

.delivery {
    margin-bottom: 50px;
}

.delivery__container {
    display: flex;
}

.delivery__right {
    flex: 1 1 30%;
    margin-left: 20px;
    margin-bottom: 50px;
}

.delivery__desc {
    line-height: 2;
    margin-bottom: 40px;
}

.delivery__btn {
    padding: 10px 30px;
    font-weight: 600;
    border: 1px solid var(--color-light-gray);
    transition: background 300ms, color 300ms, border 300ms ease-in-out;
}

.delivery__btn:hover {
    border: 1px solid  var(--color-main);
    background: var(--color-main);
    color: #fff;
}

.delivery__left {
    flex: 1 1 70%;
    background: url(../img/delivery.png) center no-repeat;
    background-size: cover;
}

/* reviews */

.reviews {
    margin-bottom: 50px;
}

.reviews__sub-title {
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 0;
}

.reviews__desc {
    font-size: 14px;
    color: var(--color-light-gray);
    margin: 5px 15px;
}

.reviews__comment {
    font-size: 12px;
    margin: 5px 15px;
    line-height: 1.8;
}

.reviews__img {
    display: flex;
    margin: 20px auto;
    box-shadow: inset 0px -3px 0px 0px var(--color-main);
        width: 100px;
        height: 100px;
        border-radius: 50px;
}
.reviews__img-bur {
    background: url(../img/bur.png) center no-repeat;
    background-size: cover;
}
.reviews__img-bre {
    background: url(../img/bre.png) center no-repeat;
    background-size: cover;
}.reviews__img-pet {
    background: url(../img/pet.png) center no-repeat;
    background-size: cover;
}.reviews__img-tse {
    background: url(../img/tse.png) center no-repeat;
    background-size: cover;
}.reviews__img-beb {
    background: url(../img/beb.png) center no-repeat;
    background-size: cover;
}.reviews__img-buk {
    background: url(../img/buk.png) center no-repeat;
    background-size: cover;
}

/* footer */

.footer {
    width: 100%;
    background: rgb(245, 244, 244);
}    

.footer__container {
    display: flex;
    justify-content: space-between;
}    

.footer__menu {
    margin: 30px 0;
}    

.footer__items:not(:last-child) {
    margin-bottom: 15px;
}    

.footer__contacts {
    margin: 100px 0;
}    

.footer__phone-value {
    display: inline;
}    

.line {
    display: inline-block;
    margin: 0 10px;
    width: 2px;
    height: 15px;
    background: var(--color-light-gray);
}    

.contacts_info {
    margin: 15px 0;
}    

.footer_copyright-desc {
    color: var(--color-main);
}    

.link {
    font-size: 14px;
    font-weight: 600;
    transition: color 300ms ease-in-out;
}    

.link:hover {
    color: var(--color-main);
}    

.footer_copyright {
    border-top: 1px solid var(--color-light-gray);
    padding-bottom: 10px;
}    

.masyanov {
    font-weight: 600;
}    

@media (max-width: 479px) {
    
}